name: Generate Snake

on:
  schedule:
    # Runs every 6 hours
    - cron: "0 */6 * * *"

  # Allows manual run from Actions tab
  workflow_dispatch:

# REQUIRED: allows GitHub Actions bot to push commits
permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Generate the snake files
      - name: Generate GitHub contribution snake
        uses: Platane/snk@master
        with:
          github_user_name: Reniyas717
          gif_out_path: dist/github-contribution-grid-snake.gif
          svg_out_path: dist/github-contribution-grid-snake.svg

      # Deploy generated files to output branch
      - name: Deploy snake to output branch
        uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
